body {
    background-color: rgb(251, 217, 248);
    max-width: 1300px;
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}

.image{
    border: 5px solid rgb(99, 54, 54);
    border-radius: 20px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: rgb(192, 131, 131);
    border: 2px solid rgb(99, 54, 54);
    background-color: rgb(245, 182, 213);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 2px 4px rgba(163, 112, 112, 0.5);
}

.link-button:hover {
background-color: rgb(235, 162, 193);
box-shadow: 4px 6px rgba(163, 112, 112, 0.7); 
}

p a {
    color: rgba(163, 112, 112, 0.7); 
    text-decoration: none; 
}

p a:hover {
    color: rgb(99, 54, 54);
}